---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Reels | Tim Farrell" description="Tim Farrell's demo reels for Comp, Animation, and likely others">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Reels"
				tagline="These are reels for my various specialties"
			>
				
			</Hero>

			<section>
				<h2 class="section-title">Compositor</h2>
				<div class="content">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/67iZEtDC3yk?si=VQC8XWqJM1B72XZ9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
									
				</div>
			</section>

			<section>
						<h2 class="section-title">AE Animator</h2>
						<div class="content">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/4-Rwl3we9tg?si=tH1NQqRK3Hm9Qgiy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
							
						</div>
			</section>
					

			<section>
				<h2 class="section-title">Demo Intro WIP</h2>
				<div class="content">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/wbkRDz9QAOk?si=p36zLpvojBZKBqnj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
					
				</div>
			</section>
			
		</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
